{% extends "base.jinja2" %}
{% block title %}index{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    <h1>index</h1>
    <p class="important">
     {{ link|safe }}
    </p>
{% endblock %}
